# Source files
src/**
typings/**
testFixture/**
out/test/**

# VSCode files
.gitignore
.vscode/**
.vscode-test/**

# Test files

# Build files
*.vsix
tsconfig.json
**/*.map
**/tslint.json
vsc-extension-quickstart.md
