# Source files
scripts/**
src/**
typings/**
testFixture/**
out/test/**
images/*.svg

# VSCode files
.gitignore
.vscode/**
.vscode-test/**

# Build files
*.vsix
tsconfig.json
**/*.map
**/tslint.json
vsc-extension-quickstart.md
